<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   .container2 {
      padding: 30px 30px;
   }

   .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
   }
    .bg-1 h3 {color: #fff;}
    .bg-1 p {font-style: italic;}

  </style>
</head>
<body>

<div class="text" >
    <div class="bg-1">
        <div class="container">
            <div class="container2 text-center">
                <div>
                    <h3>The Code Era v1.0</h3>
                    <p>We love coding!</p>
                    <p>Never stop learning</p>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>No:</th>
                    <th width="50%">Questions </th>
                    <th>Input Test Case</th>
                    <th>Output Test Case</th>
                    <th>Conditions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question, status : ${questions}">
                    <td th:text="${status.count}">1</td>
                    <td th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(question.questionName),'\n','&lt;br /&gt;'))}">Question</td>
                    <td th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(question.inputTestCase),'\n','&lt;br /&gt;'))}">InputTestCase</td>
                    <td th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(question.outputTestCase),'\n','&lt;br /&gt;'))}">OutputTestCase</td>
                    <td th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(question.info),'\n','&lt;br /&gt;'))}">Conditions</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


</body>
</html>